@namespace Fomantic.Blazor.UI
@inherits FomanticFormBase<object>
    <form @onsubmit="HandleSubmitDelegate" class="ui form info">


        <CascadingValue IsFixed="true" Value="EditContext">
            @ChildContent(this.EditContext)
        </CascadingValue>

    </form>

    @code {

    }
