@page "/"
@using System.Xml
@inject IJSRuntime jSRuntime
<div class="article">

    <div class="ui masthead vertical tab segment">
        <div class="ui container">
            <div class="introduction">

                <h1 class="ui header">
                    Getting Started

                    <div class="sub header">
                        Getting up and running with Fomantic Blazor Framework
                    </div>
                </h1>

                <div class="ui hidden divider"></div>





            </div>







            @*<div class="ui two item stackable tabs menu">

                    <a class="active item" data-tab="icon">Icons</a>


                    <a class="item" data-tab="definition">Definition</a>


                </div>*@

        </div>
    </div>


    <div class="main ui container">

        <Segment ContentSpace="ContentSpace.VeryPadded">

            <Text> ahmed </Text>  <Text> is  </Text>  <Text> here  </Text>
        </Segment>

        <Dimmer IsHidden="false" HideOnClick="true">
            <h2 class="ui inverted icon header"><i class="heart icon"></i>Dimmed Message!</h2>
        </Dimmer>
    </div>
    <Footer />



</div>

@code{

    protected override Task OnInitializedAsync()
    {

        return base.OnInitializedAsync();
    }
}
