@page "/"
@using System.Xml
@inject IJSRuntime jSRuntime
<div class="article">

    <div class="ui masthead vertical tab segment">
        <div class="ui container">
            <div class="introduction">

                <h1 class="ui header">
                    Getting Started

                    <div class="sub header">
                        Getting up and running with Fomantic Blazor Framework
                    </div>
                </h1>

                <div class="ui hidden divider"></div>





            </div>





            @*<div class="ui two item stackable tabs menu">

                    <a class="active item" data-tab="icon">Icons</a>


                    <a class="item" data-tab="definition">Definition</a>


                </div>*@

        </div>
    </div>


    <div class="main ui container">


        <FomanticForm Model="CurrentPerson">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <SampleTextField @bind-Value="CurrentPerson.Name" />
            <SampleTextField DisplayName="Name secound time" @bind-Value="CurrentPerson.Name" />
            <SampleTextField @bind-Value="CurrentPerson.Address" />


            <button class="ui primary button" type="submit">Submit</button>
        </FomanticForm>



    </div>
    <Footer />



</div>

@code{

    public Person CurrentPerson { get; set; } = new Person();
    public class Person
    {
        [System.ComponentModel.DataAnnotations.Required]
        [System.ComponentModel.DataAnnotations.RegularExpression(@"^[a-zA-Z''-'\s]{1,40}$",
         ErrorMessage = "Characters are not allowed.")]
        [System.ComponentModel.DataAnnotations.MinLength(3)]
        [System.ComponentModel.DataAnnotations.MaxLength(40)]
        public string Name { get; set; }
        [System.ComponentModel.DataAnnotations.Required]

        public string Address { get; set; }
    }
    protected override Task OnInitializedAsync()
    {

        return base.OnInitializedAsync();
    }
}
