@namespace Fomantic
@using Fomantic.Blazor.UI
@inherits SegmentGroupBase


<div @ref="RootElement" @attributes='GetRootElementAttributes()' class="@CssClass">
    <CascadingValue  Value=this IsFixed="true">     
            @ChildContent      
    </CascadingValue>
</div>