<footer class="ui vertical footer segment">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="three wide column">
                <h4 class="ui header">Community</h4>
                <div class="ui link list">
                    <a class="item" href="https://github.com/ahmed007boss/fomantic-blazor/issues/new/choose" target="_blank">
                        <i class="edit icon"></i>
                        Submit an Issue
                    </a>
                    <a class="item" href="https://github.com/ahmed007boss/fomantic-blazor/" target="_blank">
                        <i class="github icon"></i>
                        GitHub Repository
                    </a>
                    <a class="item" href="https://discord.gg/dcP5Zb" target="_blank">
                        <i class="discord icon"></i>
                        Discord
                    </a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui header">References</h4>
                <div class="ui link list">
                    <a class="item" href="https://fomantic-ui.com/" target="_blank">
                        <i class="docs icon"></i>
                        Fomantic
                    </a>
                    <a class="item" href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">
                        <i class="docs icon"></i>
                        Blazor
                    </a>
                </div>
            </div>

            <div class="eight wide middle aligned right floated column">

            </div>
        </div>
        <div class="ui section divider"></div>
        <img src="/images/fomantic-blazor.png" class="ui right floated mini image">
        <div class="ui horizontal small divided link list">
            <a class="item" href="https://github.com/ahmed007boss/fomantic-blazor/blob/main/LICENSE" target="_blank">Free &amp; Open Source (MIT)</a>
        </div>
    </div>


</footer>
@code {

}
