<div class="ui vertical inverted menu">

    <div class="item">
        <a class="ui logo icon image" href="/">
            <img src="/images/fomantic-blazor.png" >
        </a>
        <a href="/"><b>Fomantic Blazor Docs</b></a>
    </div>
  
    <NavLink class="item" href="" Match="NavLinkMatch.All">
        <b>Getting Started</b>
    </NavLink>
    <div class="item">
        <div class="header">Introduction</div>
        @*<div class="menu">

                <a class="item" href="/introduction/integrations.html">
                    Integrations
                </a>

                <a class="item" href="/introduction/build-tools.html">
                    Build Tools
                </a>

                <a class="item" href="/introduction/advanced-usage.html">
                    Recipes
                </a>

                <a class="item" href="/introduction/glossary.html">
                    Glossary
                </a>

            </div>*@
    </div>


    <div class="item">
        <div class="active  header">Elements</div>
        <div class="menu">
            <NavLink class="item" href="/elements/Text">
                Text
            </NavLink>
            <NavLink class="item" href="/elements/Segmant">
                Segmant
            </NavLink>
        </div>
    </div>
    <div class="item">
        <div class=" header">Collections</div>
        <div class="menu">


        </div>
    </div>
    <div class="item">
        <div class=" header">Views</div>
        <div class="menu">


        </div>
    </div>
    <div class="item">
        <div class=" header">Modules</div>
        <div class="menu">



        </div>
    </div>


</div>