@namespace Fomantic
@using Fomantic.Blazor.UI
@inherits SegmentGroupBase

@RenderBeforeRootElementFragments()
<div @ref="RootElement" @attributes='GetRootElementAttributes()' class="@GetCssClass()">
    <CascadingValue Value=this IsFixed="true">
        @RenderContent()
    </CascadingValue>
</div>
@RenderAfterRootElementFragments()