@namespace Fomantic
@using Fomantic.Blazor.UI
@inherits SegmentBase
<div @ref="RootElement" @attributes='GetRootElementAttributes()' class="@GetCssClass()">
    <Icon Icon="@this.Icon" Color="@base.Color" IsInverted="@base.IsInverted" />
    @ChildContent
</div>

@code{

    [Parameter]
    public IconList Icon { get; set; }

}
