@page "/extensions/dimmer"
@using Fomantic.Blazor.Docs.Helpers
@inject IJSRuntime jSRuntime

<DocumentationArticle Type="typeof(Fomantic.Dimmer)" PageUri="@pageUri" Title="Dimmer" Description="A dimmer hides distractions to focus attention on particular content">
    <DocumentationArticleGroup Title="Types">
        <Sample PageUri="@pageUri" Id="Dimmer" ComponentsTypes="DimmerSampleData">
            <Title>
                Dimmer
            </Title>
            <DescriptionTemplate>
                A simple dimmer displays no content when enabled
            </DescriptionTemplate>

        </Sample>
        <Sample PageUri="@pageUri" Id="DimmerWithContent" ComponentsTypes="DimmerWithContentSampleData">
            <Title>
                Dimmer With Content 
            </Title>
            <DescriptionTemplate>
                A dimmer can display some content
            </DescriptionTemplate>

        </Sample>
    </DocumentationArticleGroup>
</DocumentationArticle>